:root {
    --color-bg-primary: #B2DDCB; /* Primary background color */
    --color-bg-secondary: #5EA89C; /* Secondary background color */
    --color-bg-tertiary: #51927A; /* Tertiary background color */
    --color-text-primary: #000000; /* Primary text color */
    --color-text-secondary: #FFFFFF; /* Secondary text color */
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    color: var(--color-text-primary);
}

/*<------------------------------------- Header ------------------------------------>*/
.header {
    height: 10vh;
    background-color: var(--color-bg-primary);
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    padding: 0 3%;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header__nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.header__nav-item {
    display: flex;
}

.header__nav-link {
    color: var(--color-text-primary);
    font-weight: 400;
    text-decoration: none;
    align-self: center;
    position: relative;
}

#logo-link {
    align-self: center;
}

.header__nav-link::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    background-color:  black;
}

.header__nav-link:hover::before {
    transform: scaleX(1);
}

.header__actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__button {
    padding: 10px 15px;
    border-radius: 2px;
    border: 2px solid #38493F;
    font-family: 'Roboto';
    font-weight: 500;
    cursor: pointer;
    background-color:  transparent;
    position: relative;
    overflow: hidden;
    transition: all 0.6s ease;
}

.header__button::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #38493F;
    position: absolute;
    top: 0;
}

.header__button::before {
    left: -100%;
    transition: all 0.3s ease-in-out;
}

#login-button:hover::before{
    left: 0;
}

#register-button:hover::before {
    left: 0;
}

.header__button:hover{
    color: var(--color-text-secondary);
}

.header__button-text {
    font-size: 14px;
    position: relative;
}

/*<------------------------------------- main ------------------------------------>*/
.main {
    background-color: var(--color-bg-secondary);
}

.main__hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/assets/wildcard-medium.jpg') center/cover no-repeat;
    text-align: center;
    color: var(--color-text-secondary);
    background-attachment: fixed;
    position: relative;
}

.main__hero::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    animation: hero-layer 1.5s ease-in-out forwards;
}

.main__hero-title {
    font-size: 48px;
    z-index: 3;
    opacity: 0;
    animation: hero-title 1s 1.5s ease-in-out forwards;
}

.main__hero-text {
    font-size: 18px;
    z-index: 3;
    opacity: 0;
    animation: hero-text 1s 2s ease-in-out forwards;
}

.main__benefits {
    display: flex;
    flex-direction: row;
    padding: 15px 50px 20px 60px;
    height: 105vh;
    gap: 80px;
}

.main__benefits-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    position: relative;
}

.main__benefit {
    padding: 10px 16px 15px 32px;
    position: relative;
}

.main__benefit::before {
    position: absolute;
    content: "";
    height: 94%;
    width: 100%;
    background-color: rgba(81, 146, 122, 0.6);
    left: 0;
    top: 2px;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 0;
}

.main__benefit:hover::before {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.main__benefits-container::before {
    content: "";
    width: 3px;
    height: 20%;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 15%;
    z-index: 3;
}

.main__benefit-title {
    font-size: 32px;
    margin: 0;
    color: var(--color-text-primary);
    z-index: 3;
    position: relative;
}

.main__benefit-text {
    font-size: 16px;
    color: var(--color-text-primary);
    margin: 16px 0;
    z-index: 3;
    position: relative;
}

.main__benefits-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__benefits-image {
    width: 100%;
    height: auto;
}

/*<------------------------------------- footer ------------------------------------>*/
.footer {
    background-color: var(--color-bg-primary);
    height: 40vh;
    text-align: center;
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    padding: 0 64px;
}

.footer__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
    border-bottom: 1px solid black;
}

.footer__logo-image {
    max-height: 50px;
}

.footer__contact-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 12px;
}

.footer__contact-link {
    text-decoration: none;
}

.footer__contact-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    color: var(--color-text-primary);
}

.footer__policies {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex: 1;
    align-items: center;
}

.footer__policies-text {
    font-size: 14px;
    margin: 0;
}

.footer__policies-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.footer__policies-link {
    font-size: 14px;
    color: var(--color-text-primary);
    text-decoration: none;
}

.footer__policies-item:hover .footer__policies-link {
    text-decoration: underline;
}

/*<------------------------------------- keyuframes ------------------------------------>*/

/*---------hero----------*/
@keyframes hero-layer {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes hero-title {
    from {
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hero-text {
    from {
        transform: translateY(400%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

